@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    width: 1440px;
    height: 100%;
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-color: var(--Dark-cyan);
    background-position-x: -240px, 120vh;
    background-position-y: -450px, 40vh;
    background-repeat: no-repeat;
}

h1 b {
    font-size: 28px;
}

h1 a {
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
    color: var(--Dark-gray);
}

p {
    margin-top: 10px;
    color: var(--Dark-gray);
}

ul {
    transform: translateX(-5%);
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    list-style-type: none;
}

ul li {
    margin-left: 15%;
    justify-content: end;
    float: left;
}

ul li b {
    font-size: 28px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 12px;
    

}

.card-img-top {
    border: 5px solid white;
    position: absolute;
    border-radius: 50%;
    top: 100px;
    left: 40%;
    margin-left: -30px;
    width: 150px !important;
    height: 150px;
}

.container {
    margin-top: 80px;
    padding: 5px 16px;
    text-align: center;
}

@viewport {
    zoom: 1.0;
    widows: extend-to-zoom;
  }
  @-ms-viewport{
    widows: extend-to-zoom;
    zoom: 1.0;
  }

@media only screen and (max-width: 750px) {
    body {
        width: 375px;
    }

    .card {
        width: 375px;
    }

    .card-img-top {
        top: 80px;
    }

    h1 b {
        font-size: 24px;
    }
    
    h1 a {
        font-size: 24px;
        margin-left: 10px;
    }

    ul {
        margin-bottom: 30px;
    }

    ul li {
        margin-left: 12%;
    }
    
    ul li b {
        font-size: 24px;
    }
    
}
